[user]
    name = Christian Verkerk
    email = christian@tubularlabs.com
    signingkey = D413F0D3
[alias]
    st = status
    unstage = reset HEAD --
    diffl = "!git diff --color=always | less -r"
    commitlazy = "!git commit -am \"$(curl -s http://whatthecommit.com/index.txt)\""¬
    pop = "!git reset HEAD~1 && git stash && git pull && git stash pop"
    pullup = "!git pull origin develop && git remote update origin && git submodule update"
    bump = "!git add tubecore && git commit -m \":cherry_blossom:\" && git push"
    commitk = "!GIT_COMMITTER_NAME='Kevin Le' GIT_COMMITTER_EMAIL='solnovus@gmail.com' git commit --author 'Kevin Le <solnovus@gmail.com>'"
    ci = commit
    lod = "!git pull origin develop"
    pod = "!git push origin develop"
    lom = "!git pull origin master"
    pom = "!git push origin master"
    up = "!git remote update -p; git merge --ff-only @{u}"
    mergelog = "!f() { git log --stat \"$1^..$1\"; }; f"
[github]
    name = c4urself
    token = fde7f945f79651ced8703eb846d55edb
[format]
    pretty = format:%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    editor = /usr/bin/vim
    pager = "less -s"
    excludesfile = ~/.gitignore
[push]
    default = simple
[commit]
    gpgsign = false
