[user]
    name = Christian Verkerk
    email = christianverkerk@gmail.com
[alias]
    st = status
    unstage = reset HEAD --
    diffl = "!git diff --color=always | less -r"
    commitlazy = "!git commit -am \"$(curl -s http://whatthecommit.com/index.txt)\""¬
[github]
    name = c4urself
    token = fde7f945f79651ced8703eb846d55edb
[format]
    pretty = format:%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[core]
    editor = /usr/bin/vim
